---
import { siteConfig } from "../config";
---
<div
  id="404"
  class="relative isolate overflow-hidden bg-white py-24"
  style={`--accent-color: ${siteConfig.accentColor}`}
>

<div class="h-full mx-auto p-8 sm:p-12 md:p-24 flex items-center" style="margin-bottom: -190px">
  <div>
    <h1
      class="text-pretty text-xl sm:text-2xl font-bold tracking-tight text-gray-500"
    >
      404 Not Found
    </h1>  
  </div>
</div>
</div>